.dropdown {
  position: relative;
}

.projects-button {
  background: none;
  border: none;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}

.project-links {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  background-color: #222;
  z-index: 100;
}

.project-links a {
  display: block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
}

.project-links a:hover {
  background-color: #50C878;
}

.dropdown:hover .project-links {
  display: block;
}
